spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/helios
    username: helios_admin
    password: 1234567890
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: prometheus, metrics
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: helios-observability
